name: blog ci

on:
  push:
    branches:
      - gh-page-source

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: NPM install
        uses: bahmutov/npm-install@v1

      - name: Build site
        run: npm run docs:build

      # https://github.com/marketplace/actions/github-pages-action
      - name: Deploy 
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/.vuepress/dist
          publish_branch: master
